_violet = #6b5b95

.root
  flex 1
  background-color _violet
  
.main
  align-self center
  flex 1

  +mobile()
    width 344px

  @media (max-width: 768px)
    width 94%

  +tablet()
    width 94%

  +desktop()
    width 1024px

  +wide()
    width 1194px
